.block-grid {
	background: #fff;
	padding: 1.17em 1.25em 2em 1.25em;
	margin-bottom: 1em;

	h3 {
		margin: 0;
	}

	h3 a {
		color: $dark-color;
	}

	h3 a:hover {
		color: $main-color;
	}
}

.bg--caption {
	font-size: $milli-size;
	margin: 0 0 0.5em 1.25em;
	line-height: 1;
	font-weight: 400;
	position: absolute;
	bottom: 1em;

	a {
		color: $text-color;
	}

	a:hover {
		color: $main-color;
	}

}

.bl-width {
	width: 75%;
	margin: 0 auto;
	display: block;

	@include bp(largest) {
		width: 95%;
	}

	@include bp(baby-bear) {
		width: 100%;
	}

}

.callout {
	background: white;
	border-radius: 5px;
	padding: 1em 2em;
	width: 100%;
	margin: 0 auto;

	.cllout--title {
		margin-top: 0;
		margin-bottom: 0.25em;
	}

	p {
		margin: 0.5em 0;
	}

	.mc4wp-form p {
		width: 50%;
		float: left;
		margin-top: 0;

		label {
			margin-top: 0;

			@include bp(papa-bear) {
				margin-top: 1em;
			}
		}

		@include bp(papa-bear) {
			width: 100%;
		}
	}

	.mc4wp-form .submit {
		width: 100px;
		margin-left: 2em;
		margin-top: 1.75em;

		@include bp(papa-bear) {
			margin-left: 0;
			margin-top: 0;
			width: 150px;
		}
	}
}

