html {
	background-color: $background-color;
	color: $text-color;
}

.hr {
	border: 0;
	height: 3px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.make-main {
	color: $main-color;
}