body {
	font-family: $body-stack;
	line-height: 1.36;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-family: $header-stack;
	font-weight: 700;
}

h5, h6 { font-weight: 700; }

.tagline {
	font-size: 0.88em;
	color: $text-light;
	font-weight: 700;
}

.cat-title {
	margin-bottom: 0;
}

.small {
	font-size: 0.75em;
}

// .cat-header {
// 	margin-bottom: 1.25em;
// 	width: 100%;
// 	font-weight: 400;
// }